.gdp-add-custom-button {
    background-color: rgb(35, 126, 248);
    border-radius: 2px;
    box-shadow: 2px 1px 1px #666666;
    color: white;
    display: inline-block;
    font-family: 'Hammersmith One' !important;
    margin-left: 5px;
    padding: 11px;
}
.gdp-add-custom-button:hover {
    cursor: pointer;
}
.gdp-add-custom-input {
    display: inline-block !important;
    font-family: 'Hammersmith One' !important;
    height:30px !important;
    padding-left:10px !important;
    width: 435px !important;
}
.gdp-add-custom-short-input {
    display: inline-block !important;
    font-family: 'Hammersmith One' !important;
    height: 30px !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
    width: 365px !important;
}
.gdp-add-custom-wrapper {
    left: 50%;
    margin-left: -225px;
    margin-left: -225px;
    margin-top: 10px;
    position: fixed;
    top: 80%;
    width: 450px;
}
.gdp-bottom-left {
    bottom: 10px;
    left: 10px;
    position: absolute;
}
.gdp-bottom-right {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.gdp-custom-thumbnail {
    margin-top: -35px !important;
}
.gdp-dancer {
    cursor: hand;
    cursor: pointer;
    *display: inline;
    display: inline-block;
    display: -moz-inline-stack;
    left: 0;
    min-height: 100px;
    position: fixed !important;
    top: 0;
    vertical-align: top;
    zoom: 1;
}
.gdp-flipped {
    transform: scaleX(-1);
}
.gdp-main-menu {
    bottom: 0;
    color: white;
    font-family: "Hammersmith One";
    font-size: 16px;
    position: fixed;
    right: 0;
}
.gdp-main-menu-btn {
    background-color: rgba(35, 126, 248, .3);
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
}
.gdp-main-menu-btn:hover {
    background-color: rgba(35, 126, 248, 1);
    box-shadow: 2px 1px 1px #666666;
}
.gdp-menu {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.gdp-menu-list {
    border-radius: 5px;
    height: 70%;
    left: 50%;
    margin-left: -225px;
    overflow-x: scroll;
    position: fixed;
    top: 10%;
    width: 450px;
}
.gdp-opt {
    color: white;
    display: none;
    font-family: 'Hammersmith One';
    font-weight: bold;
}
.gdp-song-option {
    background-color: rgb(131, 0, 168);
    border-radius: 5px;
    box-shadow: 2px 1px 1px #666666;
    color: white;
    font-family: 'Hammersmith One' !important;
    font-size: 30px;
    font-weight: bold;
    margin: 1px;
    padding: 30px;
}
.gdp-song-option-delete {
    background-color: rgb(244, 37, 112);
    border-radius: 50%;
    box-shadow: rgb(102, 102, 102) 1px 1px 1px;
    box-sizing: content-box;
    float: right;
    font-size: 13px;
    height: 15px;
    padding: 10px;
    position: relative;
    right: -30px;
    text-align: center;
    top: -35px;
    width: 15px;
}
.gdp-thumbnail-delete {
    background-color: rgb(244, 37, 112);
    border-radius: 50%;
    box-shadow: rgb(102, 102, 102) 1px 1px 1px;
    box-sizing: content-box;
    color: white;
    float: right;
    font-family: 'Hammersmith One';
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 15px;
    left: 0;
    line-height:normal;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 25px;
    width: 15px;
}
.gdp-thumbnail-img {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.gdp-thumbnail-wrapper {
    display: inline-block;
    height: 100px;
    margin: 0 5px 5px 0;
    width: 100px;
}
.gdp-top-left {
    float: left;
    margin: 10px 0 0 10px;
}
.gdp-top-opt {
    position: absolute;
    width: 100%;
}
.gdp-top-right {
    float: right;
    margin: 10px 10px 0 0;
}
