.gdp-bottom-left {
    bottom: 10px;
    left: 10px;
    position: absolute;
}
.gdp-bottom-right {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.gdp-dancer {
    cursor: hand;
    cursor: pointer;
    *display: inline;
    display: inline-block;
    display: -moz-inline-stack;
    left: 0;
    position: fixed !important;
    top: 0;
    vertical-align: top;
    zoom: 1;
    min-height: 100px;
}
.gdp-flipped {
    transform: scaleX(-1);
}
.gdp-main-menu {
    bottom: 0;
    color: white;
    font-family: "Hammersmith One";
    font-size: 16px;
    right: 0;
    position: fixed;
}
.gdp-main-menu-btn {
    background-color: rgba(35, 126, 248, .3);
    border-radius: 4px;
    box-shadow: 2px 1px 1px #d9d9d9;
    display: inline-block;
    margin: 10px;
    padding: 15px;
}
.gdp-main-menu-btn:hover {
    background-color: rgba(35, 126, 248, 1);
}
.gdp-menu {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.gdp-menu-list {
    height: 70%;
    left: 50%;
    margin-left: -225px;
    overflow-x: scroll;
    position: fixed;
    top: 10%;
    width: 450px;
}
#gdp-add-gif-wrapper{
    position: fixed;
    left: 50%;
    margin-left: -225px;
    top: 80%;
    width: 450px;
    margin-left: -225px;
    margin-top: 10px;
}
#gdp-add-gif-input {
    width: 300px;
    height:30px;
    display: inline-block;
    padding:2px;
}
#gdp-add-gif-button {
    width: 45px;
    background-color:#2F30FF;
    color: white;
    padding: 11px;
    display: inline-block;
    border-radius: 2px;
    margin-left: 5px;
}
#gdp-add-gif-button:hover{
    cursor: pointer;
}
.gdp-opt {
    color: white;
    display: none;
    font-weight: bold;
}
.gdp-song-option {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: 'Hammersmith One';
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}
.gdp-thumbnail-img {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.gdp-thumbnail-wrapper {
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    width: 100px;
}
.gdp-top-left {
    float: left;
    margin: 10px 0 0 10px;
}
.gdp-top-opt {
    position: absolute;
    width: 100%;
}
.gdp-top-right {
    float: right;
    margin: 10px 10px 0 0;
}
